
html, body {
    height: 100%;
}
.fill-height {
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
}
.sidebar-nav {
    background-color: aliceblue;
    border-right: 1px solid blue;
}